/*Start Variables*/

:root
{
	--main-color:#089788;
}

/*End Variables*/

/*Start Global rules*/
*
{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

html
{
	scroll-behavior: smooth;
}

body
{
	font-family: 'Work Sans', sans-serif;
}

.container
{
	padding-left: 3%;
	padding-right: 3%;
	margin: 0 auto;
}


/* Small Screens */
@media (min-width: 768px)
{
	.container
	{
		width: 732px;
	}
}

/* Medium Screens */

@media (min-width: 992px)
{
	.container
	{
		width: 970px;
	}
}

/* Large Screens */
@media (min-width: 1200px)
{
	.container
	{
		width: 1170px;
	}
}
/*End Global Rules*/

/*Start Components*/

.special-heading
{
	color: #bebced;
    font-size: 100px;
    font-weight: 900;
    margin: 0;
    letter-spacing: -2px;
    text-align: center;
}

.special-heading + p
{
	margin: -39px 0 0;
    text-align: center;
    font-size: 20px;
    font-weight: 400;
}

/*End Components*/

/*Start Header*/
.header
{
	padding: 20px;
	box-shadow: 0px 3px 4px 0 #00000017;
    z-index: 1;
    position: relative;
}

.header .container
{
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.header .logo
{
	width:90px;
}

.header .links
{
	position: relative;
}

.header .links .icon
{
	width:30px;
	display: flex;
	flex-flow: row-reverse;
	flex-wrap: wrap;
}

.header .links .icon span
{
	background-color: #333;
	margin-bottom: 5px;
	height: 2px;
}

.header .links .icon span:first-child
{
	width: 90%;
}

.header .links .icon span:nth-child(2)
{
	width:60%;
	transition: 0.5s;
}

.links:hover .icon span:nth-child(2)
{
	width:90%;
}

.header .links .icon span:last-child
{
	width:90%;
}

.header .links ul
{
	list-style: none;
	margin: 0;
	padding: 0;
	background-color: #f6f6f6;
	position: absolute;
	right:0;
	min-width: 200px;
	top:calc(100% + 20px);
	display: none;
	z-index: 2;
}

.header .links ul::before
{
	content: "";
    border-width: 15px;
    border-style: solid;
    border-color: transparent transparent #f6f6f6 transparent;
    position: absolute;
    right: 0px;
    top: -30px;
}

.links ul a
{
	display: block;
	padding: 15px;
	text-decoration: none;
	color:black;
	transition: 0.3s;
}

.links ul a:hover
{
	padding-left: 25px;
}

.links ul li:not(:last-child) a
{
	border-bottom:1px solid #ddd;
}

.links:hover  ul
{
	display: block;
}

/*End Header*/

/*Start Landing Section*/

.landing
{
	background-image: url("../img/landing.jpg");
	background-size: cover;
	height:calc(100vh - 76px);
	position: relative;
}

.intro-text
{
	position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%);
    width: 432px;
    max-width: 100%;
    text-align: center;
}

.intro-text h1
{
	margin:0;
	text-align: center;
	font-weight: bold;
	font-size: 50px;
	color:var(--main-color);
}

.intro-text p
{
	font-size: 22px;
	line-height: 1.8;
}

/*End Landing Section*/

/*Start Feature Section*/

.features
{
	background-color: #f6f6f6;
}

.features .container
{
	display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 20px 0;
    width: 98%;
}

.feat
{
	text-align: center;
    width: calc(100%/3 - 14px);
    min-width: 300px;
    margin: 10px 7px;
    padding: 10px;
}

.feat:hover 
{
    box-shadow: 0px 4px 6px rgb(0 0 0 / 20%);
    border-radius: 5px;
}

.feat i 
{
    font-size: 5rem;
    color: var(--main-color);
}

.feat h3
{
	font-weight: 900;
}

.feat p
{
	font-weight: 400;
    line-height: 1.6;
}

/*End Feature Section*/

/*Start Services*/
.services
{
	padding:60px 0;
}

.services-content
{
	display: flex;
	justify-content: space-evenly;
}

.services .col
{
    width: calc(100%/3 - 70px);
    min-width: 300px;
}

.services .special-col
{
	background: #333;
    min-width: 300px;
    height: 295.25px;
    width: calc(100%/3 - 30px);
    position: relative;
}

.services .special-col img
{
	width: 100%;
	height: 100%;
}

.special-col::after 
{
    content: '';
    position: absolute;
    background: #2c4755;
    width: 85px;
    height: 351px;
    top: -28px;
    right: -31px;
    z-index: -1;
}

@media (max-width: 990px)
{
	.services .special-col
	{
		margin-top:50px;
	}
}

.services-content
{
	padding-top: 70px;
	flex-wrap: wrap;
}

.row
{
	position: relative;
}

.row p
{
	width:85%;
}

.row i
{
	position: absolute;
	left: -47px;
    top: -6px;
    font-size: 2rem;
    color: var(--main-color);
}
/*End Services*/

/*Start Portfilo*/

.portfolio
{
	background-color: #f6f6f6;
}

.portfolio .container {
    width: 100%;
}

.cards {
	display: flex;
    justify-content: center;
    margin-top: 60px;
    padding-bottom: 30px;
    flex-wrap: wrap;
}

.card {
    margin: 15px 2%;
    width: calc(88% / 3);
    min-width: 371px;
    background: #fff;
}

.card img {
    width: 100%;
    height: 300px;
}

.card h4,.card p
{
	padding-left:10px;
}

/*End Portfilo*/

/*Start About Section*/

.about
{
	margin-bottom: 80px;
}

.about-content
{
	display: flex;
	justify-content: space-evenly;
	margin-top:100px;
	flex-wrap: wrap;
}

.about-content .image
{
	width: 350px;
    position: relative;
    margin-right: 189px;
    margin-bottom: 20px;
    margin-left: 50px;
}

.about-content .image::before
{
	content: '';
	width: 100px;
	height: calc(100% + 80px);
	position: absolute;
	left: -15px;
	top:-40px;
	background-color: #f6f6f6;
	z-index: -1;
}

.about-content .image::after
{
	content: '';
    border-left: 60px solid var(--main-color);
    border-bottom: 60px solid var(--main-color);
    position: absolute;
    top: -20px;
    height: 70%;
    width: 100px;
    z-index: -1;
    right: -117px;
}

@media(max-width: 600px)
{
	.about-content .image::after 
	{
    content: '';
    border-left: 80px solid var(--main-color);
    border-bottom: 80px solid var(--main-color);
    position: absolute;
    top: -20px;
    height: 70%;
    width: 66px;
    z-index: -1;
    right: -102px;
	}

	.about-content .image 
	{
    width: 350px;
    position: relative;
    margin-left: 50px;
    margin-bottom: 30px;
	}

	.about-content .image::before 
	{
    content: '';
    width: 52px;
    height: calc(100% + 80px);
    position: absolute;
    left: -14px;
    top: -40px;
    background-color: #f6f6f6;
    z-index: -1;
	}

	.about-content {
    display: flex;
    justify-content: space-between;
    margin-top: 100px;
    flex-wrap: wrap;
	}
}

.about-content .text
{
	width: 500px;
    line-height: 1.8;
    font-size: 1.1rem;
}

.about-content .image img
{
	width:100%;
}

.text hr
{
	width: 50%;
    margin-left: 0;
    background-color: var(--main-color);
    border: none;
    height: 3px;
    border-radius: 2px;
}
/*End About Section*/

/* Start Contact */

.contact
{
	background-color:#f6f6f6;
	padding-bottom: 40px;
}

.contact .teext
{
	margin-top: 100px;
	text-align: center;
}

.first-line
{
	font-weight: 900;
}

.first-line h2
{
	font-size: 30px;
	font-weight: 900;
}

.mail
{
	color: var(--main-color);
    position: relative;
}

.mail h2
{
	position: relative;
    z-index: 1;
    padding-left: 35px;
    margin-top: -23px;
    font-size: 30px;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
}

.mail h2::before
{
	width: 100%;
    height: 17px;
    background: white;
    position: absolute;
    top: 15px;
    left: 0;
    content: '';
    z-index: -1;
}

.socail
{
	text-align: left;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}

.socail span
{
	font-size: 15px;
}

.icons
{
	width: 30%;
    display: flex;
    justify-content: space-evenly;
}

/* End Contact */

/*Footer*/

.footer
{
	background-color: #2c4755;
	color:white;
	text-align: center;
	padding:20px 0;
}

.footer h4
{
	margin: 0;
}

.footer a
{
	text-decoration: none;
	color: var(--main-color);
}
